In [2]:
import pandas as pd
import csv
import numpy as np
from datetime import datetime
import time
import random
from math import sqrt

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
original = pd.read_csv('1minute_data_austin/1minute_data_austin.csv')
# original = pd.read_csv('shared/Dataport-Data/electricity_data/Austin/1minute_data_austin.csv.gz',compression='gzip')

In [5]:
orig = original[original['dataid']==9922]
minutes = orig['localminute']
len(orig[minutes.isin(minutes[minutes.duplicated()])])

0

In [11]:
original.head()

,dataid,localminute,air1,air2,air3,airwindowunit1,aquarium1,bathroom1,bathroom2,bedroom1,...,sprinkler1,sumppump1,utilityroom1,venthood1,waterheater1,waterheater2,wellpump1,winecooler1,leg1v,leg2v
0,661,2018-01-01 01:21:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,661,2018-01-01 01:00:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,661,2018-01-01 01:01:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,661,2018-01-01 01:02:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,661,2018-01-01 01:03:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#take summer months (June to September)
summer_data = original[original.localminute.str.contains('^201[0-9]-0[6-9]-', regex= True, na=False)]
summer_data

,dataid,localminute,air1,air2,air3,airwindowunit1,aquarium1,bathroom1,bathroom2,bedroom1,...,sprinkler1,sumppump1,utilityroom1,venthood1,waterheater1,waterheater2,wellpump1,winecooler1,leg1v,leg2v
3592397,661,2018-06-25 14:09:00-05,0.000,NaN,NaN,NaN,NaN,0.005,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.800,123.067
3592398,661,2018-06-25 14:10:00-05,0.000,NaN,NaN,NaN,NaN,0.005,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.621,123.087
3592399,661,2018-06-26 00:07:00-05,0.000,NaN,NaN,NaN,NaN,0.005,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.568,122.622
3592400,661,2018-06-26 00:08:00-05,0.000,NaN,NaN,NaN,NaN,0.005,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.555,122.700
3592401,661,2018-06-26 00:09:00-05,0.000,NaN,NaN,NaN,NaN,0.005,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.582,122.717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7953069,9922,2018-09-19 06:52:00-05,0.002,-0.005,NaN,NaN,NaN,NaN,NaN,0.115,...,NaN,NaN,0.031,NaN,NaN,NaN,NaN,NaN,121.321,121.684
7953070,9922,2018-09-19 06:53:00-05,0.002,-0.005,NaN,NaN,NaN,NaN,NaN,0.104,...,NaN,NaN,0.031,NaN,NaN,NaN,NaN,NaN,121.312,121.667
7953071,9922,2018-09-19 06:54:00-05,0.002,-0.005,NaN,NaN,NaN,NaN,NaN,0.100,...,NaN,NaN,0.031,NaN,NaN,NaN,NaN,NaN,121.323,121.651
7953072,9922,2018-09-19 06:55:00-05,0.002,-0.006,NaN,NaN,NaN,NaN,NaN,0.104,...,NaN,NaN,0.031,NaN,NaN,NaN,NaN,NaN,121.335,121.608
7953073,9922,2018-09-19 06:56:00-05,0.002,-0.005,NaN,NaN,NaN,NaN,NaN,0.107,...,NaN,NaN,0.031,NaN,NaN,NaN,NaN,NaN,121.283,121.562

In [5]:
len(original)

13100539

In [16]:
data = summer_data[['dataid','localminute','grid']]

In [17]:
len(data)

4360260

In [18]:
data['localminute'] = data['localminute'].str[:-3]
data['localminute'] = pd.to_datetime(data['localminute'], format='%Y-%m-%d %H:%M:%S')

In [19]:
data.head()

         dataid         localminute   grid
3592397     661 2018-06-25 14:09:00 -0.027
3592398     661 2018-06-25 14:10:00 -0.054
3592399     661 2018-06-26 00:07:00  0.469
3592400     661 2018-06-26 00:08:00  0.470
3592401     661 2018-06-26 00:09:00  0.468

In [20]:
data = data.sort_values(by='localminute')

In [21]:
data

         dataid         localminute   grid
3981565    4373 2018-06-01 00:00:00  3.388
3721933    2361 2018-06-01 00:00:00  4.081
4585913    9278 2018-06-01 00:00:00  4.276
4197120    7719 2018-06-01 00:00:00  4.898
4543249    9160 2018-06-01 00:00:00  0.155
...         ...                 ...    ...
7347811    4767 2018-09-30 23:59:00  0.563
7866112    9160 2018-09-30 23:59:00  0.292
7909351    9278 2018-09-30 23:59:00  0.505
7563791    7800 2018-09-30 23:59:00  0.628
7606991    7901 2018-09-30 23:59:00  0.280

[4360260 rows x 3 columns]

In [22]:
ids = data.dataid.unique()
ids.sort()
print(ids)

[ 661 1642 2335 2361 2818 3039 3456 3538 4031 4373 4767 5746 6139 7536
 7719 7800 7901 7951 8156 8386 8565 9019 9160 9278 9922]

In [23]:
len(summer_data)

4360260

In [24]:
len(data)

4360260

In [25]:
#generate complex power using random power factor (between .9-.95)
def complex_power(real_power):
    power_factor = random.uniform(.9, .95)
    apparent_power = real_power / power_factor
    reactive_power = sqrt(apparent_power**2 - real_power**2)
    return str(round(real_power,6))+ '+' + str(round(reactive_power,6))+'j'

In [26]:
test = summer_data[summer_data['dataid']==661]
test.head()

,dataid,localminute,air1,air2,air3,airwindowunit1,aquarium1,bathroom1,bathroom2,bedroom1,...,sprinkler1,sumppump1,utilityroom1,venthood1,waterheater1,waterheater2,wellpump1,winecooler1,leg1v,leg2v
3592397,661,2018-06-25 14:09:00-05,0.0,NaN,NaN,NaN,NaN,0.005,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.800,123.067
3592398,661,2018-06-25 14:10:00-05,0.0,NaN,NaN,NaN,NaN,0.005,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.621,123.087
3592399,661,2018-06-26 00:07:00-05,0.0,NaN,NaN,NaN,NaN,0.005,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.568,122.622
3592400,661,2018-06-26 00:08:00-05,0.0,NaN,NaN,NaN,NaN,0.005,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.555,122.700
3592401,661,2018-06-26 00:09:00-05,0.0,NaN,NaN,NaN,NaN,0.005,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.582,122.717

### SUMMER DATA

Scale by 15

In [62]:
ids

array([ 661, 1642, 2335, 2361, 2818, 3039, 3456, 3538, 4031, 4373, 4767,
       5746, 6139, 7536, 7719, 7800, 7901, 7951, 8156, 8386, 8565, 9019,
       9160, 9278, 9922])

In [30]:
for i in range(6,10):
    print(i)

6
7
8
9

In [38]:

for i in range(6,10):
    df = data[(data['localminute'].dt.month==i)==1]
    print(df.head(2))

         dataid localminute   grid
3981565    4373  2018-06-01  3.388
3721933    2361  2018-06-01  4.081
         dataid localminute   grid
5533643    8565  2018-07-01  2.652
5179155    6139  2018-07-01  0.429
         dataid localminute   grid
6051410    3456  2018-08-01  1.938
5802083    1642  2018-08-01  0.608
         dataid localminute   grid
7304681    4767  2018-09-01  1.022
6873198     661  2018-09-01  0.369

In [39]:
df

         dataid         localminute   grid
7304681    4767 2018-09-01 00:00:00  1.022
6873198     661 2018-09-01 00:00:00  0.369
7736729    8565 2018-09-01 00:00:00  2.709
7347813    5746 2018-09-01 00:00:00  0.565
7131853    3456 2018-09-01 00:00:00  0.316
...         ...                 ...    ...
7347811    4767 2018-09-30 23:59:00  0.563
7866112    9160 2018-09-30 23:59:00  0.292
7909351    9278 2018-09-30 23:59:00  0.505
7563791    7800 2018-09-30 23:59:00  0.628
7606991    7901 2018-09-30 23:59:00  0.280

[1079940 rows x 3 columns]

In [41]:
dict = {6:'june', 7:'july', 8:'aug',9:'sept'}

dict[7]

'july'

In [46]:
df = data[data['dataid']==9922]
df = df[(df['localminute'].dt.month==9)==1]
df

         dataid         localminute   grid
7909352    9922 2018-09-01 00:00:00  1.205
7909353    9922 2018-09-01 00:01:00  1.204
7909354    9922 2018-09-01 00:02:00  1.200
7909355    9922 2018-09-01 00:03:00  1.193
7909356    9922 2018-09-01 00:04:00  1.191
...         ...                 ...    ...
7952657    9922 2018-09-30 23:55:00  0.762
7952658    9922 2018-09-30 23:56:00  0.741
7952659    9922 2018-09-30 23:57:00  1.129
7952660    9922 2018-09-30 23:58:00  1.008
7952661    9922 2018-09-30 23:59:00  0.857

[43200 rows x 3 columns]

In [53]:
#create player file for 
dict = {6:'june', 7:'july', 8:'aug',9:'sept'}

new_id = 1

for id in ids:
    orig_df = data[data['dataid']==id]
    
    for i in range(6,10):
        df = orig_df[(orig_df['localminute'].dt.month==i)==1]
        
        #average duplicate data for one minute
        df = df.groupby('localminute').mean().reset_index()

        #set index as local minute to use the asfreq function
        df = df.set_index('localminute')
        df = df.asfreq(freq='60S')

        # Fill NaN with mean of non-NaN value before and after it
        df['grid'] = (df['grid'].ffill()+df['grid'].bfill())/2
        df['grid'] = df['grid'].bfill().ffill()

        df = df.reset_index()

        timestamp = f'2018-0{i}-01 00:00:00 CST'

        #create dataframe for player file output
        final_df = pd.DataFrame(index=range(df.shape[0]),columns=range(2))
        final_df.columns = ['time','grid']
        final_df['time'] = '+60s'
        final_df['grid'] = df['grid'] * 1000 * 15 #change to kW, scale by 15
        final_df['grid'] = final_df['grid'].map(complex_power) #convert to complex

        final_df['time'].iloc[0] = timestamp
        print(final_df.head(2))
        final_df.to_csv(f'./summer_players/{dict[i]}/{str(new_id)}.player', header=None, index=None)

        #format csv to have grid + id 
        df = final_df
        df = df.drop('time', 1)
        df['id'] = new_id
        df['month'] = dict[i]
        df.to_csv(f'./input_csv/{dict[i]}/{str(new_id)}.csv', index=None)
        print(df.head(2))

        print(len(df))
    new_id = new_id + 1

                      time                  grid
0  2018-06-01 00:00:00 CST  15090.0+5934.449535j
1                     +60s  15075.0+5786.515576j
                   grid  id month
0  15090.0+5934.449535j   1  june
1  15075.0+5786.515576j   1  june
43200
                      time                   grid
0  2018-07-01 00:00:00 CST  50235.0+22413.045864j
1                     +60s  50220.0+18405.578499j
                    grid  id month
0  50235.0+22413.045864j   1  july
1  50220.0+18405.578499j   1  july
44640
                      time                   grid
0  2018-08-01 00:00:00 CST  43770.0+16469.310048j
1                     +60s  43800.0+16489.442538j
                    grid  id month
0  43770.0+16469.310048j   1   aug
1  43800.0+16489.442538j   1   aug
44640
                      time                 grid
0  2018-09-01 00:00:00 CST  5535.0+2506.286588j
1                     +60s  5535.0+2438.537232j
                  grid  id month
0  5535.0+2506.286588j   1  sept
1  5535.0+2438.537232j   1  sept
43200
                      time                 grid
0  2018-06-01 00:00:00 CST    5775.0+2399.0195j
1                     +60s  5775.0+2249.725524j
                  grid  id month
0    5775.0+2399.0195j   2  june
1  5775.0+2249.725524j   2  june
43200
                      time                  grid
0  2018-07-01 00:00:00 CST  27210.0+13088.82103j
1                     +60s  47640.0+22453.10753j
                   grid  id month
0  27210.0+13088.82103j   2  july
1  47640.0+22453.10753j   2  july
44640
                      time                  grid
0  2018-08-01 00:00:00 CST   9120.0+3370.832659j
1                     +60s  14325.0+6635.882898j
                   grid  id month
0   9120.0+3370.832659j   2   aug
1  14325.0+6635.882898j   2   aug
44640
                      time                   grid
0  2018-09-01 00:00:00 CST  48345.0+18542.423279j
1                     +60s  48420.0+18620.928073j
                    grid  id month
0  48345.0+18542.423279j   2  sept
1  48420.0+18620.928073j   2  sept
43200
                      time                 grid
0  2018-06-01 00:00:00 CST  3780.0+1368.212587j
1                     +60s  4125.0+1693.925891j
                  grid  id month
0  3780.0+1368.212587j   3  june
1  4125.0+1693.925891j   3  june
43200
                      time                   grid
0  2018-07-01 00:00:00 CST  74415.0+26053.841432j
1                     +60s  74400.0+31608.106067j
                    grid  id month
0  74415.0+26053.841432j   3  july
1  74400.0+31608.106067j   3  july
44640
                      time                  grid
0  2018-08-01 00:00:00 CST  12630.0+5316.697711j
1                     +60s  12705.0+4474.636653j
                   grid  id month
0  12630.0+5316.697711j   3   aug
1  12705.0+4474.636653j   3   aug
44640
                      time                 grid
0  2018-09-01 00:00:00 CST  7515.0+2927.788775j
1                     +60s  7035.0+2801.323819j
                  grid  id month
0  7515.0+2927.788775j   3  sept
1  7035.0+2801.323819j   3  sept
43200
                      time                   grid
0  2018-06-01 00:00:00 CST  61215.0+26687.737262j
1                     +60s  61575.0+26983.642219j
                    grid  id month
0  61215.0+26687.737262j   4  june
1  61575.0+26983.642219j   4  june
43200
                      time                  grid
0  2018-07-01 00:00:00 CST  11565.0+5168.109799j
1                     +60s  11550.0+4056.633344j
                   grid  id month
0  11565.0+5168.109799j   4  july
1  11550.0+4056.633344j   4  july
44640
                      time                 grid
0  2018-08-01 00:00:00 CST  9660.0+4638.795307j
1                     +60s  9660.0+3880.031453j
                  grid  id month
0  9660.0+4638.795307j   4   aug
1  9660.0+3880.031453j   4   aug
44640
                      time                   grid
0  2018-09-01 00:00:00 CST  62370.0+24558.136339j
1                     +60s  62400.0+22508.760888j
                    grid  id month
0  62370.0+24558.136339j   4  sept
1  62400.0+22508.760888j   4  sept
43200
                      time                   grid
0  2018-06-01 00:00:00 CST  53385.0+24235.877422j
1                     +60s   54345.0+19043.00002j
                    grid  id month
0  53385.0+24235.877422j   5  june
1   54345.0+19043.00002j   5  june
43200
                      time                   grid
0  2018-07-01 00:00:00 CST  53865.0+24921.964826j
1                     +60s  53745.0+25311.038074j
                    grid  id month
0  53865.0+24921.964826j   5  july
1  53745.0+25311.038074j   5  july
44640
                      time                   grid
0  2018-08-01 00:00:00 CST  53790.0+25326.903353j
1                     +60s  53640.0+18459.901687j
                    grid  id month
0  53790.0+25326.903353j   5   aug
1  53640.0+18459.901687j   5   aug
44640
                      time                   grid
0  2018-09-01 00:00:00 CST  53985.0+22961.032211j
1                     +60s  53325.0+20682.313948j
                    grid  id month
0  53985.0+22961.032211j   5  sept
1  53325.0+20682.313948j   5  sept
43200
                      time                   grid
0  2018-06-01 00:00:00 CST  66930.0+28452.154771j
1                     +60s  67005.0+26900.419768j
                    grid  id month
0  66930.0+28452.154771j   6  june
1  67005.0+26900.419768j   6  june
43200
                      time                  grid
0  2018-07-01 00:00:00 CST  11745.0+3925.200292j
1                     +60s  11565.0+4073.624376j
                   grid  id month
0  11745.0+3925.200292j   6  july
1  11565.0+4073.624376j   6  july
44640
                      time                   grid
0  2018-08-01 00:00:00 CST  67515.0+31808.368293j
1                     +60s  67395.0+27014.072442j
                    grid  id month
0  67515.0+31808.368293j   6   aug
1  67395.0+27014.072442j   6   aug
44640
                      time                   grid
0  2018-09-01 00:00:00 CST  70380.0+33072.467149j
1                     +60s  70170.0+28398.592117j
                    grid  id month
0  70380.0+33072.467149j   6  sept
1  70170.0+28398.592117j   6  sept
43200
                      time                  grid
0  2018-06-01 00:00:00 CST  12990.0+5515.945503j
1                     +60s   7140.0+2805.310519j
                   grid  id month
0  12990.0+5515.945503j   7  june
1   7140.0+2805.310519j   7  june
43200
                      time                 grid
0  2018-07-01 00:00:00 CST  5415.0+2437.209614j
1                     +60s  5400.0+2210.692768j
                  grid  id month
0  5415.0+2437.209614j   7  july
1  5400.0+2210.692768j   7  july
44640
                      time                   grid
0  2018-08-01 00:00:00 CST  29070.0+10529.067416j
1                     +60s  39240.0+14900.141805j
                    grid  id month
0  29070.0+10529.067416j   7   aug
1  39240.0+14900.141805j   7   aug
44640
                      time                 grid
0  2018-09-01 00:00:00 CST  4740.0+2151.814476j
1                     +60s  4740.0+1966.499279j
                  grid  id month
0  4740.0+2151.814476j   7  sept
1  4740.0+1966.499279j   7  sept
43200
                      time                 grid
0  2018-06-01 00:00:00 CST  4245.0+1789.179978j
1                     +60s  4245.0+1692.837269j
                  grid  id month
0  4245.0+1789.179978j   8  june
1  4245.0+1692.837269j   8  june
43200
                      time                   grid
0  2018-07-01 00:00:00 CST  39510.0+15657.479411j
1                     +60s  39585.0+13112.818241j
                    grid  id month
0  39510.0+15657.479411j   8  july
1  39585.0+13112.818241j   8  july
44640
                      time                 grid
0  2018-08-01 00:00:00 CST  6045.0+2515.278484j
1                     +60s  6090.0+2647.371431j
                  grid  id month
0  6045.0+2515.278484j   8   aug
1  6090.0+2647.371431j   8   aug
44640
                      time                 grid
0  2018-09-01 00:00:00 CST  4800.0+2216.662763j
1                     +60s  4785.0+1861.078877j
                  grid  id month
0  4800.0+2216.662763j   8  sept
1  4785.0+1861.078877j   8  sept
43200
                      time                   grid
0  2018-06-01 00:00:00 CST  29640.0+13284.363678j
1                     +60s   29625.0+9812.025386j
                    grid  id month
0  29640.0+13284.363678j   9  june
1   29625.0+9812.025386j   9  june
43200
                      time                   grid
0  2018-07-01 00:00:00 CST  35340.0+16938.317621j
1                     +60s  91335.0+40494.382045j
                    grid  id month
0  35340.0+16938.317621j   9  july
1  91335.0+40494.382045j   9  july
44640
                      time                 grid
0  2018-08-01 00:00:00 CST  5310.0+2237.349195j
1                     +60s  5295.0+2050.646953j
                  grid  id month
0  5310.0+2237.349195j   9   aug
1  5295.0+2050.646953j   9   aug
44640
                      time                 grid
0  2018-09-01 00:00:00 CST  7170.0+3254.927324j
1                     +60s   7140.0+2753.62733j
                  grid  id month
0  7170.0+3254.927324j   9  sept
1   7140.0+2753.62733j   9  sept
43200
                      time                   grid
0  2018-06-01 00:00:00 CST  50820.0+22992.835736j
1                     +60s  50670.0+21276.075444j
                    grid  id month
0  50820.0+22992.835736j  10  june
1  50670.0+21276.075444j  10  june
43200
                      time                   grid
0  2018-07-01 00:00:00 CST  65850.0+26308.739157j
1                     +60s  65625.0+30543.409747j
                    grid  id month
0  65850.0+26308.739157j  10  july
1  65625.0+30543.409747j  10  july
44640
                      time                   grid
0  2018-08-01 00:00:00 CST  49815.0+22403.753687j
1                     +60s  49830.0+18118.185743j
                    grid  id month
0  49815.0+22403.753687j  10   aug
1  49830.0+18118.185743j  10   aug
44640
                      time                   grid
0  2018-09-01 00:00:00 CST  50550.0+24474.852892j
1                     +60s  50520.0+16711.605757j
                    grid  id month
0  50550.0+24474.852892j  10  sept
1  50520.0+16711.605757j  10  sept
43200
                      time                 grid
0  2018-06-01 00:00:00 CST  17925.0+6272.97539j
1                     +60s  7170.0+2473.619856j
                  grid  id month
0  17925.0+6272.97539j  11  june
1  7170.0+2473.619856j  11  june
43200
                      time                 grid
0  2018-07-01 00:00:00 CST  8985.0+4289.124392j
1                     +60s  8985.0+3483.097265j
                  grid  id month
0  8985.0+4289.124392j  11  july
1  8985.0+3483.097265j  11  july
44640
                      time                 grid
0  2018-08-01 00:00:00 CST  6210.0+2695.012019j
1                     +60s  6210.0+2652.451633j
                  grid  id month
0  6210.0+2695.012019j  11   aug
1  6210.0+2652.451633j  11   aug
44640
                      time                  grid
0  2018-09-01 00:00:00 CST  15330.0+6472.611811j
1                     +60s  10410.0+4674.912218j
                   grid  id month
0  15330.0+6472.611811j  11  sept
1  10410.0+4674.912218j  11  sept
43200
                      time                 grid
0  2018-06-01 00:00:00 CST  6555.0+2561.614631j
1                     +60s  6975.0+3324.478992j
                  grid  id month
0  6555.0+2561.614631j  12  june
1  6975.0+3324.478992j  12  june
43200
                      time                   grid
0  2018-07-01 00:00:00 CST  43545.0+15543.719957j
1                     +60s  47400.0+22307.058978j
                    grid  id month
0  43545.0+15543.719957j  12  july
1  47400.0+22307.058978j  12  july
44640
                      time                 grid
0  2018-08-01 00:00:00 CST  7680.0+3179.099513j
1                     +60s  7410.0+3283.708947j
                  grid  id month
0  7680.0+3179.099513j  12   aug
1  7410.0+3283.708947j  12   aug
44640
                      time                 grid
0  2018-09-01 00:00:00 CST  8475.0+3641.529304j
1                     +60s  8655.0+4168.641634j
                  grid  id month
0  8475.0+3641.529304j  12  sept
1  8655.0+4168.641634j  12  sept
43200
                      time                 grid
0  2018-06-01 00:00:00 CST  4755.0+1689.562196j
1                     +60s  9090.0+4318.651949j
                  grid  id month
0  4755.0+1689.562196j  13  june
1  9090.0+4318.651949j  13  june
43200
                      time                 grid
0  2018-07-01 00:00:00 CST  6435.0+3011.945747j
1                     +60s  6435.0+2189.776445j
                  grid  id month
0  6435.0+3011.945747j  13  july
1  6435.0+2189.776445j  13  july
44640
                      time                   grid
0  2018-08-01 00:00:00 CST  61020.0+29502.531393j
1                     +60s  60975.0+25982.549038j
                    grid  id month
0  61020.0+29502.531393j  13   aug
1  60975.0+25982.549038j  13   aug
44640
                      time                 grid
0  2018-09-01 00:00:00 CST  6165.0+2914.535784j
1                     +60s  6180.0+2634.924239j
                  grid  id month
0  6165.0+2914.535784j  13  sept
1  6180.0+2634.924239j  13  sept
43200
                      time                   grid
0  2018-06-01 00:00:00 CST  61785.0+21065.360233j
1                     +60s   61830.0+21790.40226j
                    grid  id month
0  61785.0+21065.360233j  14  june
1   61830.0+21790.40226j  14  june
43200
                      time                 grid
0  2018-07-01 00:00:00 CST  5415.0+1878.994659j
1                     +60s  5415.0+2541.407801j
                  grid  id month
0  5415.0+1878.994659j  14  july
1  5415.0+2541.407801j  14  july
44640
                      time                 grid
0  2018-08-01 00:00:00 CST  7530.0+2679.316363j
1                     +60s   7650.0+3145.62722j
                  grid  id month
0  7530.0+2679.316363j  14   aug
1   7650.0+3145.62722j  14   aug
44640
                      time                   grid
0  2018-09-01 00:00:00 CST  64860.0+27445.584958j
1                     +60s   65760.0+29230.75426j
                    grid  id month
0  64860.0+27445.584958j  14  sept
1   65760.0+29230.75426j  14  sept
43200
                      time                   grid
0  2018-06-01 00:00:00 CST  73470.0+34957.686825j
1                     +60s  73410.0+24291.937434j
                    grid  id month
0  73470.0+34957.686825j  15  june
1  73410.0+24291.937434j  15  june
43200
                      time                  grid
0  2018-07-01 00:00:00 CST  18900.0+8013.640698j
1                     +60s   18405.0+8509.05748j
                   grid  id month
0  18900.0+8013.640698j  15  july
1   18405.0+8509.05748j  15  july
44640
                      time                   grid
0  2018-08-01 00:00:00 CST  75810.0+35498.349803j
1                     +60s  75495.0+34988.138884j
                    grid  id month
0  75810.0+35498.349803j  15   aug
1  75495.0+34988.138884j  15   aug
44640
                      time                   grid
0  2018-09-01 00:00:00 CST  58440.0+22836.413294j
1                     +60s  77250.0+37256.797333j
                    grid  id month
0  58440.0+22836.413294j  15  sept
1  77250.0+37256.797333j  15  sept
43200
                      time                 grid
0  2018-06-01 00:00:00 CST  2505.0+1109.411804j
1                     +60s  2505.0+1113.302685j
                  grid  id month
0  2505.0+1109.411804j  16  june
1  2505.0+1113.302685j  16  june
43200
                      time                   grid
0  2018-07-01 00:00:00 CST  44490.0+15967.153465j
1                     +60s  44325.0+21206.068148j
                    grid  id month
0  44490.0+15967.153465j  16  july
1  44325.0+21206.068148j  16  july
44640
                      time                   grid
0  2018-08-01 00:00:00 CST  46140.0+21852.481047j
1                     +60s   12780.0+4881.223032j
                    grid  id month
0  46140.0+21852.481047j  16   aug
1   12780.0+4881.223032j  16   aug
44640
                      time                 grid
0  2018-09-01 00:00:00 CST  7170.0+2801.438838j
1                     +60s  7185.0+3205.411725j
                  grid  id month
0  7170.0+2801.438838j  16  sept
1  7185.0+3205.411725j  16  sept
43200
                      time                  grid
0  2018-06-01 00:00:00 CST  12345.0+5786.738297j
1                     +60s  12345.0+5686.176123j
                   grid  id month
0  12345.0+5786.738297j  17  june
1  12345.0+5686.176123j  17  june
43200
                      time                 grid
0  2018-07-01 00:00:00 CST  6540.0+2703.770195j
1                     +60s  7080.0+2382.302631j
                  grid  id month
0  6540.0+2703.770195j  17  july
1  7080.0+2382.302631j  17  july
44640
                      time                  grid
0  2018-08-01 00:00:00 CST  18060.0+6283.663535j
1                     +60s  12450.0+5782.865846j
                   grid  id month
0  18060.0+6283.663535j  17   aug
1  12450.0+5782.865846j  17   aug
44640
                      time                 grid
0  2018-09-01 00:00:00 CST  6405.0+2406.090466j
1                     +60s  6345.0+2203.108553j
                  grid  id month
0  6405.0+2406.090466j  17  sept
1  6345.0+2203.108553j  17  sept
43200
                      time                 grid
0  2018-06-01 00:00:00 CST  7275.0+2679.349325j
1                     +60s  7335.0+3300.715351j
                  grid  id month
0  7275.0+2679.349325j  18  june
1  7335.0+3300.715351j  18  june
43200
                      time                 grid
0  2018-07-01 00:00:00 CST  8100.0+3202.142367j
1                     +60s  7995.0+2777.247434j
                  grid  id month
0  8100.0+3202.142367j  18  july
1  7995.0+2777.247434j  18  july
44640
                      time                  grid
0  2018-08-01 00:00:00 CST  11055.0+4999.595266j
1                     +60s  11115.0+3888.349011j
                   grid  id month
0  11055.0+4999.595266j  18   aug
1  11115.0+3888.349011j  18   aug
44640
                      time                 grid
0  2018-09-01 00:00:00 CST  7170.0+2810.644409j
1                     +60s   7080.0+3425.17637j
                  grid  id month
0  7170.0+2810.644409j  18  sept
1   7080.0+3425.17637j  18  sept
43200
                      time                   grid
0  2018-06-01 00:00:00 CST   14055.0+6780.769236j
1                     +60s  38625.0+16229.707286j
                    grid  id month
0   14055.0+6780.769236j  19  june
1  38625.0+16229.707286j  19  june
43200
                      time                   grid
0  2018-07-01 00:00:00 CST  24210.0+10763.801105j
1                     +60s  65655.0+25969.880948j
                    grid  id month
0  24210.0+10763.801105j  19  july
1  65655.0+25969.880948j  19  july
44640
                      time                   grid
0  2018-08-01 00:00:00 CST  62685.0+29261.521873j
1                     +60s  62745.0+20631.812199j
                    grid  id month
0  62685.0+29261.521873j  19   aug
1  62745.0+20631.812199j  19   aug
44640
                      time                   grid
0  2018-09-01 00:00:00 CST   62940.0+22153.10213j
1                     +60s  62850.0+28348.978361j
                    grid  id month
0   62940.0+22153.10213j  19  sept
1  62850.0+28348.978361j  19  sept
43200
                      time                   grid
0  2018-06-01 00:00:00 CST  34815.0+13961.123973j
1                     +60s  44430.0+18619.606842j
                    grid  id month
0  34815.0+13961.123973j  20  june
1  44430.0+18619.606842j  20  june
43200
                      time                   grid
0  2018-07-01 00:00:00 CST   18540.0+7985.244762j
1                     +60s  38475.0+15734.113905j
                    grid  id month
0   18540.0+7985.244762j  20  july
1  38475.0+15734.113905j  20  july
44640
                      time                 grid